/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3a3a3a;
    font-family: Arial, sans-serif;
}

.header-bar {
    height: 10vh;
    width: 100vw;
    background-color: #272727;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: larger;
}

.pcmt-logo {
    height: 10vh;
    width: auto;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
}

.link-title {
    gap: 25px;
}

.about {
    display: flex;
    height: 500px;
    align-items: center;
    overflow: hidden;
    background-color: #282828;
}

.about-text {
    height: 50%;
    width: 40%;
    padding: 30px;
    margin-left: 100px;
    color: whitesmoke;
    background-color: grey;
}

.what-pcmt {
    font-size: 175%;
    color: #6dc5c7;
}

.about-logo{
    margin-right: 100px;
    margin-left: auto;
    height: auto;
    width: 500px;
}