@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3a3a3a;
    font-family: Arial, sans-serif;
}

#header-bar {
    height: 10vh;
    width: 100vw;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: larger;
}

#pcmt-logo {
    height: 10vh;
    width: auto;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
}

#link-title {
    gap: 25px;
}

#about {
    position: relative;
    display: flex;
    height: 500px;
    margin: 30px;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, #272727, #282828);
    border-radius: 15px;
}

#about-text {
    position: relative;
    z-index: 1;
    width: 600px;
    max-width: 80%;
    margin-left: 100px;
    padding: 30px;
    color: whitesmoke;
    background: grey;
    border-radius: 15px;
    overflow: hidden;
}

@media (max-width: 900px) {
    #about-text {
        margin-left: auto;
        margin-right: auto;
    }
}

#what-pcmt {
    font-size: 200%;
    color: #6dc5c7;
}

#about-logo {
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: auto;
    opacity: 0.3;
}

#highlights {
    position: relative;
    display: flex;
    height: 500px;
    margin: 30px;
    align-items: center;
}

#video {
    border: 2px solid transparent;
    border-radius: 15px;
    width: 750px;
    max-width: 80%;
    aspect-ratio: 16/9;
    margin-left: 100px;

    background:
            linear-gradient(white, white) padding-box,
            linear-gradient(
                    135deg,
                    #6dc5c7,
                    #926acc
            ) border-box;
}

#video video {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    display: block;
}

@media (max-width: 1000px) {
    #video {
        margin-left: auto;
        margin-right: auto;
    }
}